In [1]:
from retentioneering.utils.jupyter_server.server import ServerManager

serverManager = ServerManager()
server = serverManager.create_server()
server.id

'3e27a6f8-e027-4748-a432-ebc768254f39'

In [2]:
def myaction(p):
    return { "data": 3 }

server.use("test-method", myaction)

In [3]:
from IPython.core.display import display, HTML
display(HTML("<script>window.process = { env: {} }</script>"))
display(HTML('<script src="http://localhost:8080/build.js"></script>'))

In [7]:
from typing import TypeVar, Sequence

In [12]:
def f(s: str):
    return s

f(4)

4

In [19]:
s = {"d": 2}
if "ff" in s:
    print("dd")
    
if "d" in s:
    print("d")

d

In [1]:
from typing import Sequence, Mapping, Callable, Type, Optional, Union, Literal, TypedDict, cast

class ReteConfig(TypedDict):
    event_col: str
    event_time_col: str
    user_col: str
    custom_cols: Optional[Sequence[str]]

In [3]:
def f():
    return 3

ff = { "func": f }
ff["func"]()

3

In [9]:
from retentioneering.core.rete_explorer.rete_explorer import ReteExplorer
import retentioneering

data = retentioneering.datasets.load_simple_shop()

In [10]:
config = {
  'user_col': 'user_id',
  'event_col':'event',
  'event_time_col':'timestamp',
  'custom_cols': ['user_id']
}
rete = ReteExplorer(clickstream=data, config=config)
nodelist = rete.create_nodelist()
edgelist = rete.create_edgelist()

In [12]:
graph = rete.create_graph(nodelist=nodelist, edgelist=edgelist)
graph.plot_graph()

In [7]:
graph.nodelist

               event  number_of_events  user_id  active  alias         parent
1            catalog             14518     3611    True  False  catalog_group
6               main              5635     2385    True  False  catalog_group
5               lost              3098     3098    True  False           None
0               cart              2842     1924    True  False  catalog_group
12          product2              2172     1430    True  False           None
2    delivery_choice              1686     1356    True  False           None
11          product1              1515     1122    True  False           None
9     payment_choice              1107      958    True  False           None
3   delivery_courier               834      748    True  False           None
10      payment_done               706      653    True  False           None
7       payment_card               565      521    True  False           None
4    delivery_pickup               506      469    True  False           None
8       payment_cash               197      190    True  False           None
13     catalog_group             22995     3751    True   True           None

In [9]:
graph._recalculate()

In [10]:
graph.nodelist

               event  number_of_events  user_id  active  alias      parent
1            catalog             14518     3611   False  False  main_group
6               main              5635     2385    True  False  main_group
5               lost              3098     3098    True  False        None
0               cart              2842     1924    True  False  main_group
12          product2              2172     1430    True  False        None
2    delivery_choice              1686     1356    True  False        None
11          product1              1515     1122    True  False        None
9     payment_choice              1107      958    True  False        None
3   delivery_courier               834      748    True  False        None
10      payment_done               706      653    True  False        None
7       payment_card               565      521    True  False        None
4    delivery_pickup               506      469    True  False        None
8       payment_cash               197      190    True  False        None
13        main_group              8477     2985    True   True        None

In [15]:
s = graph.nodelist[graph.nodelist['event'] == 'lost']
rete.clickstream[rete.clickstream['event'].isin(s['event'])]

         user_id event                   timestamp
49     495985018  lost  2019-11-02 01:14:38.435643
65      24427596  lost  2019-11-02 07:29:42.848396
78     465044817  lost  2019-11-02 13:58:40.080514
91     613604495  lost  2019-11-02 23:28:00.789239
98     145194414  lost  2019-11-03 00:03:15.617026
...          ...   ...                         ...
35351  965024600  lost  2020-04-29 12:11:42.657993
35357  831491833  lost  2020-04-29 12:25:07.262205
35361  994777610  lost  2020-04-29 12:27:49.700572
35374  540518176  lost  2020-04-29 12:36:05.584162
35380  501098384  lost  2020-04-29 12:48:07.595390

[3098 rows x 3 columns]

In [5]:
_node_params = {
    'positive_target_event': 'nice_target',
    'negative_target_event': 'bad_target',
    'source_event': 'source',
}
node_params = {}
for key, val in _node_params.items():
    print(key)
    print(val)

positive_target_event
nice_target
negative_target_event
bad_target
source_event
source

In [27]:
def f(row):
    cp = row.copy()
    if (cp.event == 'catalog'):
        cp.event = 'replaced'
    return cp

rete.clickstream.apply(f, axis=1)

         user_id     event                   timestamp
0      219483890  replaced  2019-11-01 17:59:13.273932
1      219483890  product1  2019-11-01 17:59:28.459271
2      219483890      cart  2019-11-01 17:59:29.502214
3      219483890  replaced  2019-11-01 17:59:32.557029
4      964964743  replaced  2019-11-01 21:38:19.283663
...          ...       ...                         ...
35376  501098384  replaced  2020-04-29 12:47:40.975732
35377  501098384  replaced  2020-04-29 12:48:01.809577
35378  501098384      main  2020-04-29 12:48:01.938488
35379  501098384  replaced  2020-04-29 12:48:06.595390
35380  501098384      lost  2020-04-29 12:48:07.595390

[35381 rows x 3 columns]

In [1]:
from pandas import DataFrame

DataFrame(['ff', 22, 33, True, False, 'ffd'], columns=['event', 'number_of_events', 'user_id', 'active', 'alias', 'parent'])

# graph.nodelist.loc[13] = ['ff', 22, 33, True, False, 'ffd']

ValueError: Shape of passed values is (6, 1), indices imply (6, 6)

In [30]:
for k, v in graph.updates[0]['degree'].items():
    print(k)
    print(v)

number_of_events
{'degree': 5.458878633420581, 'source': 706}
user_id
{'degree': 9.425090002769316, 'source': 653}